<div class="content">
  <h1>Template Outlet Usage</h1>

  <ng-template
    #myTemplate
    let-name="name"
    let-email="email"
    let-message="message"
  >
    <div class="title">
      <h3>{{ name }} ({{ email }})</h3>
    </div>
    <div class="desc">
      {{ message }}
    </div>
  </ng-template>

  <ng-container
    *ngTemplateOutlet="
      myTemplate;
      context: {
        name: 'Robin',
        email: 'robin@mail.com',
        message:
          'Praesent ut mauris mattis, ornare metus ac, facilisis mi. Donec tempor turpis a leo aliquam convallis. Pellentesque in pulvinar orci. Donec faucibus turpis in lacus iaculis euismod mattis at lectus. '
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      myTemplate;
      context: {
        name: 'Ramesh',
        email: 'ramesh@mail.com',
        message:
          'Praesent ut mauris mattis, ornare metus ac, facilisis mi. Donec tempor turpis a leo aliquam convallis. Pellentesque in pulvinar orci. Donec faucibus turpis in lacus iaculis euismod mattis at lectus. '
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      myTemplate;
      context: {
        name: 'Candy',
        email: 'candy@mail.com',
        message:
          'Praesent ut mauris mattis, ornare metus ac, facilisis mi. Donec tempor turpis a leo aliquam convallis. Pellentesque in pulvinar orci. Donec faucibus turpis in lacus iaculis euismod mattis at lectus. '
      }
    "
  ></ng-container>
</div>
